.table {
  margin-left: 33px;
  border-collapse: collapse;
  height: 100%;
  text-align: left;
  color: #000;
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px 0px 0px 0px;
  width: 1407px;
  height: 100%;
  background-color: #fff;
}

th,
td {
  border: 1px solid #c4c4c4;
  padding: 8px 8px 8px 35px;
}

th {
  background-color: #fff;
}

thead tr:first-child th {
  border-top: none;
  border-bottom: 2px solid #c4c4c4;
}

thead th:first-child {
  border-radius: 10px 0px 0px 0px;
  border-left: none;
}
thead th:last-child {
  border-right: none;
}

tbody tr td {
  border-left: none;
}

tbody tr td {
  border-right: none;
}

tbody tr:hover {
  background: rgba(99, 70, 180, 0.25);
}
